table {
    width:50%;
    border-collapse: collapse;
}

th {
    text-align: center;
    background-color: #5e9cff;
    color: white;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
  }

img {
    width: 250px;
    height: 200px;
    float: left;
  }

.TA {
  background-color: #3ad932;
}

.SIS {
  background-color: #3cb4fa;
}

.RTS {
  background-color: #fa3c42;
}